
src/.vs/ProjectEvaluation/scrapple.metadata.v9.bin
src/.vs/ProjectEvaluation/scrapple.projects.v9.bin
src/.vs/ProjectEvaluation/scrapple.strings.v9.bin
src/.vs/scrapple/FileContentIndex/9e936085-c131-48bf-acc8-7566ff631797.vsidx
src/.vs/scrapple/v17/.futdcache.v2
src/.vs/scrapple/v17/.suo
src/.vs/scrapple/v17/DocumentLayout.backup.json
src/.vs/scrapple/v17/DocumentLayout.json
src/bin/Debug/netstandard2.0/Ether.WeightedSelector.dll
src/bin/Debug/netstandard2.0/Landis.Extension.SocialClimateFire-v4.deps.json
src/bin/Debug/netstandard2.0/Landis.Extension.SocialClimateFire-v4.dll
src/bin/Debug/netstandard2.0/Landis.Extension.SocialClimateFire-v4.pdb
src/bin/Debug/netstandard2.0/Landis.Library.Climate-v5.dll
src/bin/Debug/netstandard2.0/Landis.Library.Metadata-v2.dll
src/bin/Debug/netstandard2.0/Landis.Library.Parameters-v2.dll
src/bin/Debug/netstandard2.0/Landis.Library.UniversalCohorts-v1.dll
src/lib/Ether.WeightedSelector.dll
src/lib/Landis.Library.Climate-v5.dll
src/lib/Landis.Library.Metadata-v2.dll
src/lib/Landis.Library.Parameters-v2.dll
src/lib/Landis.Library.UniversalCohorts-v1.dll
src/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/obj/Debug/netstandard2.0/Landis.Extension.SocialClimateFire-v4.dll
src/obj/Debug/netstandard2.0/Landis.Extension.SocialClimateFire-v4.pdb
src/obj/Debug/netstandard2.0/Scrapple.AssemblyInfo.cs
src/obj/Debug/netstandard2.0/Scrapple.AssemblyInfoInputs.cache
src/obj/Debug/netstandard2.0/Scrapple.assets.cache
src/obj/Debug/netstandard2.0/Scrapple.csproj.AssemblyReference.cache
src/obj/Debug/netstandard2.0/Scrapple.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/netstandard2.0/SocialCl.2800144F.Up2Date
src/obj/Debug/netstandard2.0/SocialClimateFire.AssemblyInfo.cs
src/obj/Debug/netstandard2.0/SocialClimateFire.AssemblyInfoInputs.cache
src/obj/Debug/netstandard2.0/SocialClimateFire.assets.cache
src/obj/Debug/netstandard2.0/SocialClimateFire.csproj.AssemblyReference.cache
src/obj/Debug/netstandard2.0/SocialClimateFire.csproj.CoreCompileInputs.cache
src/obj/Debug/netstandard2.0/SocialClimateFire.csproj.FileListAbsolute.txt
src/obj/Debug/netstandard2.0/SocialClimateFire.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/netstandard2.0/SocialClimateFire.sourcelink.json
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/Scrapple.csproj.nuget.dgspec.json
src/obj/Scrapple.csproj.nuget.g.props
src/obj/Scrapple.csproj.nuget.g.targets
src/obj/SocialClimateFire.csproj.nuget.dgspec.json
src/obj/SocialClimateFire.csproj.nuget.g.props
src/obj/SocialClimateFire.csproj.nuget.g.targets
